.otp-input {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.otp-input input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #e4e4e4;
    font-weight: 600;
}
.otp-input input::-webkit-outer-spin-button,
          .otp-input input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
          }
          .otp-input input[type=number] {
              -moz-appearance: textfield;
          }